.mat-typography {
    background: #707070;
}

.mat-card {
    max-width: 40rem;
    margin-left: 38rem;
    border-radius: 10px;
}

.btn-close {
    margin-left: 25rem;
}

#btnModalCancel {
    background: transparent;
    color: #725172;
    border: 1px solid #725172;
}

#btnModalSalvar {
    background: #725172;
    color: #fff;
    margin-right: 2rem;
}

#btnModalSalvar:hover {
    background: #5e445e;
}

.modal-title {
    font-size: 1.5rem;
    margin-top: 1rem;
    font-weight: bold;
}