table {
    width: 100%;
}

.btn-primary {
    background: #725172;
    color: white;
    border: none;
    margin-left: 6rem;
}

.btn-primary:hover {
    background: #5e445e;
}

.edit>i {
    background: #865c86;
    color: white;
    border-radius: 100px;
    padding: 10px;
    margin-right: 10px;
}

.delete>i {
    background: #d80505;
    color: rgb(255, 255, 255);
    border-radius: 100px;
    padding: 10px;
}