table {
    width: 100%;
}

.btn-primary {
    background: #725172;
    color: white;
    border: none;
    margin-left: 6rem;
}

.btn-primary:hover {
    background: #5e445e;
}

.edit>i {
    background: #725172;
    color: white;
    border-radius: 20px;
    padding: 10px;
}

.delete>i {
    background: #ba14145e;
    color: white;
    border-radius: 20px;
    padding: 10px;
}