<mat-card>
    <mat-card-title>Excluir Produto.
        <button type="button" class="btn-close" routerLink="/editarDeletar" id="btnHeader"></button>
    </mat-card-title>
    <hr>
    <form>

        <fieldset class="row ">
            <p>Você realmente deseja excluir esse produto?</p>


        </fieldset>
    </form>

    <button mat-raised-button (click)="cancel()" id="cancelar">Cancelar</button>

    <button mat-raised-button (click)="deleteProduct()" id="delete">Excluir</button>

</mat-card>

<router-outlet></router-outlet>