<div class="container-fluid">
    <div class="row gradient">
        <div class="col-12 com-sm-6 com-md-6 col-xl-8 col-xxl-8" id="corLadoEsquerdo">
        </div>

        <div class="col login">
            <form>
                <div class="mb-3 mt-5">
                    <h1>Entre.</h1>
                    <hr class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
                    <div class="form-floating mb-3 col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
                        <input type="nome" class="form-control" id="nome" placeholder="nome">
                        <label for="nome">Nome</label>
                    </div>
                </div>

                <div class="form-floating mb-3 col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
                    <input type="password" class="form-control" id="senha" placeholder="senha">
                    <label for="senha">Senha</label>
                </div>

                <!-- <label for="nome" [(ngmodel)]="requestLogin.login">Nome</label>
                    </div>
                </div>

                <div class="form-floating mb-3 col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
                    <input type="password" class="form-control" id="senha" placeholder="senha">
                    <label for="senha" [(ngmodel)]="requestLogin.password">Senha</label>
                </div> -->

                <!-- <button type="submit" class="btn col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8" routerLink="/home" (click)="doLogin()">ENTRAR</
                    button> -->

                <button type="submit" class="btn col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8" routerLink="/home">ENTRAR</button>
            </form>
        </div>
    </div>
    <router-outlet></router-outlet>