#corLadoEsquerdo {
    background-image: linear-gradient(180deg, #623262, #F2D8DB);
    height: 54vw;
}

.login {
    margin-left: 07vw;
    margin-top: 13vw;
}

.form-control {
    border-radius: 10px;
}

.btn {
    height: 54px;
    border-radius: 10px;
    background-color: #725172;
    color: white;
}