<div class="container">
    <div class="row">
        <!--produto1-->
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch mt-3" style="border-radius: 20px; ">
            <div class="card text-center bg-white shadow-lg" style="border-radius: 20px;">

                <mat-card-header>


                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                    <mat-menu #menu="matMenu">

                        <button mat-menu-item routerLink="/products/update">
                          <mat-icon class="editaIcon">edit</mat-icon>
                          <span>Editar</span>
                        </button>
                        <hr>
                        <button mat-menu-item routerLink="/products/delete">
                          <mat-icon class="iconDelete">delete</mat-icon>
                          <span>Excluir</span>
                        </button>

                    </mat-menu>



                </mat-card-header>

                <img src="/assets/img/mac1.jpeg " class="card-img-top " alt="Produto ">

                <div class="card-body bg-white">
                    <h5 class="card-title bg-white text-start ">MacBook Air 512 GB 2021</h5>
                    <p class="card-text truncate-5l text-start " style="font-size:1rem;">
                        MacBook Air com a melhor tecnologia do mercado, trazendo muita inovação e velocidade.
                    </p>
                    <p class="uppercase bg-white fw-bold text-start p-0 " style="font-size:1.3rem;">R$ 13.499,00</p>
                </div>
                <hr class="col-10 ms-3 p-0 ">

                <div class="card-footer bg-white p-0 " style="border: none; border-radius: 20px; ">
                    <form class="d-block" style="border-radius: 20px;">
                        <button class="btn mb-4 p-0 " style="border-radius: 30px; border-color: #725172; margin-left: -10px; color: #725172; width: 77px; height: 31px; ">Apple</button>
                        <button class="btn mb-4 ms-4 p-0 " style="border-radius: 30px; border-color: #725172; color: #725172; width: 99px; height: 31px; ">MacBook</button>
                    </form>
                </div>
            </div>
        </div>
        <!--produto1 end-->

        <!--produto2-->
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch mt-3" style="border-radius: 20px; ">
            <div class="card text-center bg-white shadow-lg" style="border-radius: 20px;">

                <mat-card-header>


                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                    <mat-menu #menu="matMenu">

                        <button mat-menu-item routerLink="/products/update">
                          <mat-icon class="editaIcon">edit</mat-icon>
                          <span>Editar</span>
                        </button>
                        <hr>
                        <button mat-menu-item routerLink="/products/delete">
                          <mat-icon class="iconDelete">delete</mat-icon>
                          <span>Excluir</span>
                        </button>

                    </mat-menu>



                </mat-card-header>

                <img src="/assets/img/mac4.jpeg " class="card-img-top " alt="Produto ">

                <div class="card-body bg-white">
                    <h5 class="card-title bg-white text-start ">MacBook Air 512 GB 2021</h5>
                    <p class="card-text truncate-5l text-start " style="font-size:1rem;">
                        MacBook Air com a melhor tecnologia do mercado, trazendo muita inovação e velocidade.
                    </p>
                    <p class="uppercase bg-white fw-bold text-start p-0 " style="font-size:1.3rem;">R$ 13.499,00</p>
                </div>
                <hr class="col-10 ms-3 p-0 ">

                <div class="card-footer bg-white p-0 " style="border: none; border-radius: 20px; ">
                    <form class="d-block" style="border-radius: 20px;">
                        <button class="btn mb-4 p-0 " style="border-radius: 30px; border-color: #725172; margin-left: -10px; color: #725172; width: 77px; height: 31px; ">Apple</button>
                        <button class="btn mb-4 ms-4 p-0 " style="border-radius: 30px; border-color: #725172; color: #725172; width: 99px; height: 31px; ">MacBook</button>
                    </form>
                </div>
            </div>
        </div>
        <!--produto2 end-->

        <!--produto3-->
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch mt-3" style="border-radius: 20px; ">
            <div class="card text-center bg-white shadow-lg" style="border-radius: 20px;">

                <mat-card-header>


                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                    <mat-menu #menu="matMenu">

                        <button mat-menu-item routerLink="/products/update">
                          <mat-icon class="editaIcon">edit</mat-icon>
                          <span>Editar</span>
                        </button>
                        <hr>
                        <button mat-menu-item routerLink="/products/delete">
                          <mat-icon class="iconDelete">delete</mat-icon>
                          <span>Excluir</span>
                        </button>

                    </mat-menu>



                </mat-card-header>

                <img src="/assets/img/mac3.jpeg " class="card-img-top " alt="Produto ">

                <div class="card-body bg-white">
                    <h5 class="card-title bg-white text-start ">MacBook Air 512 GB 2021</h5>
                    <p class="card-text truncate-5l text-start " style="font-size:1rem;">
                        MacBook Air com a melhor tecnologia do mercado, trazendo muita inovação e velocidade.
                    </p>
                    <p class="uppercase bg-white fw-bold text-start p-0 " style="font-size:1.3rem;">R$ 13.499,00</p>
                </div>
                <hr class="col-10 ms-3 p-0 ">

                <div class="card-footer bg-white p-0 " style="border: none; border-radius: 20px; ">
                    <form class="d-block" style="border-radius: 20px;">
                        <button class="btn mb-4 p-0 " style="border-radius: 30px; border-color: #725172; margin-left: -10px; color: #725172; width: 77px; height: 31px; ">Apple</button>
                        <button class="btn mb-4 ms-4 p-0 " style="border-radius: 30px; border-color: #725172; color: #725172; width: 99px; height: 31px; ">MacBook</button>
                    </form>
                </div>
            </div>
        </div>
        <!--produto3 end-->

        <!--produto4-->
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch mt-3" style="border-radius: 20px; ">
            <div class="card text-center bg-white shadow-lg" style="border-radius: 20px;">

                <mat-card-header>


                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                    <mat-menu #menu="matMenu">

                        <button mat-menu-item routerLink="/products/update">
                          <mat-icon class="editaIcon">edit</mat-icon>
                          <span>Editar</span>
                        </button>
                        <hr>
                        <button mat-menu-item routerLink="/products/delete">
                          <mat-icon class="iconDelete">delete</mat-icon>
                          <span>Excluir</span>
                        </button>

                    </mat-menu>



                </mat-card-header>

                <img src="/assets/img/mac4.jpeg " class="card-img-top " alt="Produto ">

                <div class="card-body bg-white">
                    <h5 class="card-title bg-white text-start ">MacBook Air 512 GB 2021</h5>
                    <p class="card-text truncate-5l text-start " style="font-size:1rem;">
                        MacBook Air com a melhor tecnologia do mercado, trazendo muita inovação e velocidade.
                    </p>
                    <p class="uppercase bg-white fw-bold text-start p-0 " style="font-size:1.3rem;">R$ 13.499,00</p>
                </div>
                <hr class="col-10 ms-3 p-0 ">

                <div class="card-footer bg-white p-0 " style="border: none; border-radius: 20px; ">
                    <form class="d-block" style="border-radius: 20px;">
                        <button class="btn mb-4 p-0 " style="border-radius: 30px; border-color: #725172; margin-left: -10px; color: #725172; width: 77px; height: 31px; ">Apple</button>
                        <button class="btn mb-4 ms-4 p-0 " style="border-radius: 30px; border-color: #725172; color: #725172; width: 99px; height: 31px; ">MacBook</button>
                    </form>
                </div>
            </div>
        </div>
        <!--produto4 end-->

    </div>
</div>
<!--produtos end-->